:root {
  --avt-size: 240px;
  --bg-color: #f5f8ff;
  --main-color: #353536;
  --secondary-color: #8e92a4;
  --main-text-color: #5d606b;
  --secondary-dark-color: #9496a5;
  --tag-color-one: #e0fbf6;
  --tag-color-text-one: #58c2a9;
  --tag-color-two: #ece7fe;
  --tag-color-text-two: #8972f3;
  --tag-color-three: #fde7ea;
  --tag-color-text-three: #e77f89;
  --tag-color-four: #f7f8fc;
  --tag-color-text-four: #a0a6b5;
  --checkbox-color: #009e90;
  --button-color: #49beb7;
  --box-color: #fff1d6;
  --box-color-2: #d3e6ff;
  --box-color-3: #ffd9d9;
  --box-color-4: #daffe5;
  --task-color: #777982;
}

.btn {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}

a {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.text-hidden {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-quantity, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.unselect {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

.cursor-pointer {
  cursor: pointer;
}

.scroll-edited {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.scroll-edited::-webkit-scrollbar {
  width: var(--thumb-size, 4px);
}
.scroll-edited::-webkit-scrollbar-track {
  background: transparent;
}
.scroll-edited::-webkit-scrollbar-thumb {
  background: var(--thumb);
  border-radius: 4px;
}
.scroll-edited::-webkit-scrollbar-thumb:hover {
  background: var(--thumb-hover);
}

:root {
  --xs-gutter: 0px;
  --s-gutter: 8px;
  --m-gutter: 12px;
  --l-gutter: 16px;
}

.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}

/* ----------------------------------------------- */
/* Size L */
/* PC with fullscreen: >=1024px */
@media (min-width: 64rem) {
  .row {
    margin-left: calc(0px - var(--l-gutter));
    margin-right: calc(0px - var(--l-gutter));
  }

  .col {
    padding-left: var(--l-gutter);
    padding-right: var(--l-gutter);
  }

  .l-0 {
    display: none;
  }

  .l-1,
.l-2,
.l-2-4,
.l-3,
.l-4,
.l-5,
.l-6,
.l-7,
.l-7-2,
.l-8,
.l-9,
.l-10,
.l-11,
.l-12 {
    display: block;
  }

  .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .l-7-2 {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* OFFSET */
  .l-o-0 {
    margin-left: 0;
  }

  .l-o-1 {
    margin-left: 8.33333%;
  }

  .l-o-2 {
    margin-left: 16.66667%;
  }

  .l-o-3 {
    margin-left: 25%;
  }

  .l-o-4 {
    margin-left: 33.33333%;
  }

  .l-o-5 {
    margin-left: 41.66667%;
  }

  .l-o-6 {
    margin-left: 50%;
  }

  .l-o-7 {
    margin-left: 58.33333%;
  }

  .l-o-8 {
    margin-left: 66.66667%;
  }

  .l-o-9 {
    margin-left: 75%;
  }

  .l-o-10 {
    margin-left: 83.33333%;
  }

  .l-o-11 {
    margin-left: 91.66667%;
  }
}
/* PC with wide: [1024px;1239px] */
@media (max-width: 77.4375em) {
  .wide {
    width: 984px;
  }

  .wide .row {
    margin-left: calc(0px - var(--l-gutter));
    margin-right: calc(0px - var(--l-gutter));
  }

  .wide .col {
    padding-left: var(--l-gutter);
    padding-right: var(--l-gutter);
  }

  .wide .l-0 {
    display: none;
  }

  .wide .l-1,
.wide .l-2,
.wide .l-2-4,
.wide .l-3,
.wide .l-4,
.wide .l-5,
.wide .l-6,
.wide .l-7,
.wide .l-7-2,
.wide .l-8,
.wide .l-9,
.wide .l-10,
.wide .l-11,
.wide .l-12 {
    display: block;
  }

  .wide .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .wide .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .wide .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .wide .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .wide .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .wide .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .wide .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .wide .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .wide .l-7-2 {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .wide .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .wide .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .wide .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .wide .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .wide .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* OFFSET */
  .wide .l-o-0 {
    margin-left: 0;
  }

  .wide .l-o-1 {
    margin-left: 8.33333%;
  }

  .wide .l-o-2 {
    margin-left: 16.66667%;
  }

  .wide .l-o-3 {
    margin-left: 25%;
  }

  .wide .l-o-4 {
    margin-left: 33.33333%;
  }

  .wide .l-o-5 {
    margin-left: 41.66667%;
  }

  .wide .l-o-6 {
    margin-left: 50%;
  }

  .wide .l-o-7 {
    margin-left: 58.33333%;
  }

  .wide .l-o-8 {
    margin-left: 66.66667%;
  }

  .wide .l-o-9 {
    margin-left: 75%;
  }

  .wide .l-o-10 {
    margin-left: 83.33333%;
  }

  .wide .l-o-11 {
    margin-left: 91.66667%;
  }
}
/* Size M >= Tablet >=740  */
@media (max-width: 63.9375em) {
  .wide {
    width: 644px;
  }

  .row {
    margin-left: calc(0px - var(--m-gutter));
    margin-right: calc(0px - var(--m-gutter));
  }

  .col {
    padding-left: var(--m-gutter);
    padding-right: var(--m-gutter);
  }

  .m-0 {
    display: none;
  }

  .m-1,
.m-2,
.m-2-4,
.m-3,
.m-4,
.m-5,
.m-6,
.m-7,
.m-7-2,
.m-8,
.m-9,
.m-10,
.m-11,
.m-12 {
    display: block;
  }

  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .m-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .m-7-2 {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* OFFSET */
  .m-o-0 {
    margin-left: 0;
  }

  .m-o-1 {
    margin-left: 8.33333%;
  }

  .m-o-2 {
    margin-left: 16.66667%;
  }

  .m-o-3 {
    margin-left: 25%;
  }

  .m-o-4 {
    margin-left: 33.33333%;
  }

  .m-o-5 {
    margin-left: 41.66667%;
  }

  .m-o-6 {
    margin-left: 50%;
  }

  .m-o-7 {
    margin-left: 58.33333%;
  }

  .m-o-8 {
    margin-left: 66.66667%;
  }

  .m-o-9 {
    margin-left: 75%;
  }

  .m-o-10 {
    margin-left: 83.33333%;
  }

  .m-o-11 {
    margin-left: 91.66667%;
  }
}
/* Size S:>365px  */
@media (max-width: 739px) {
  .row {
    margin-left: calc(0px - var(--s-gutter));
    margin-right: calc( 0px - var(--s-gutter));
  }

  .col {
    padding-left: var(--s-gutter);
    padding-right: var(--s-gutter);
  }

  .s-1,
.s-2,
.s-2-4,
.s-3,
.s-4,
.s-5,
.s-6,
.s-7,
.s-7-2,
.s-8,
.s-9,
.s-10,
.s-11,
.s-12 {
    display: block;
  }

  .s-0 {
    display: none;
  }

  .s-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .s-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .s-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .s-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .s-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .s-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .s-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .s-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .s-7-2 {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .s-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .s-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .s-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .s-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .s-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* OFFSET */
  .s-o-0 {
    margin-left: 0;
  }

  .s-o-1 {
    margin-left: 8.33333%;
  }

  .s-o-2 {
    margin-left: 16.66667%;
  }

  .s-o-3 {
    margin-left: 25%;
  }

  .s-o-4 {
    margin-left: 33.33333%;
  }

  .s-o-5 {
    margin-left: 41.66667%;
  }

  .s-o-6 {
    margin-left: 50%;
  }

  .s-o-7 {
    margin-left: 58.33333%;
  }

  .s-o-8 {
    margin-left: 66.66667%;
  }

  .s-o-9 {
    margin-left: 75%;
  }

  .s-o-10 {
    margin-left: 83.33333%;
  }

  .s-o-11 {
    margin-left: 91.66667%;
  }
}
/* Size XS */
@media (max-width: 335px) {
  .row {
    margin-left: calc(0px - var(--xs-gutter));
    margin-right: calc( 0px - var(--xs-gutter));
  }

  .col {
    padding-left: var(--xs-gutter);
    padding-right: var(--xs-gutter);
  }

  .xs-0 {
    display: none;
  }

  .xs-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .xs-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .xs-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .xs-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .xs-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .xs-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .xs-7-2 {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .xs-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .xs-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .xs-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* OFFSET */
  .xs-o-0 {
    margin-left: 0;
  }

  .xs-o-1 {
    margin-left: 8.33333%;
  }

  .xs-o-2 {
    margin-left: 16.66667%;
  }

  .xs-o-3 {
    margin-left: 25%;
  }

  .xs-o-4 {
    margin-left: 33.33333%;
  }

  .xs-o-5 {
    margin-left: 41.66667%;
  }

  .xs-o-6 {
    margin-left: 50%;
  }

  .xs-o-7 {
    margin-left: 58.33333%;
  }

  .xs-o-8 {
    margin-left: 66.66667%;
  }

  .xs-o-9 {
    margin-left: 75%;
  }

  .xs-o-10 {
    margin-left: 83.33333%;
  }

  .xs-o-11 {
    margin-left: 91.66667%;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

#welcome {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 1s;
}
#welcome .avatar {
  transition: all 0.3s;
  position: relative;
  display: inline-block;
}
#welcome .avatar:hover {
  filter: brightness(1.07);
  cursor: pointer;
  transform: scale(1.05);
}
#welcome .avatar img {
  width: var(--avt-size);
  height: var(--avt-size);
  border-radius: 100rem;
  animation: img-show 3s linear;
}
@keyframes img-show {
  from {
    opacity: 0;
    transform: scale(1.1);
    border: 1px solid #e77f89;
  }
  50% {
    border: 0.1px solid #e77f89;
  }
}
#welcome .avatar .name {
  user-select: none;
  position: absolute;
  top: 45%;
  left: 16px;
  color: white;
  font-family: "DM sans";
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  animation: name-show 1.5s linear;
}
@keyframes name-show {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
}
#welcome .avatar .major {
  display: inline-block;
  user-select: none;
  position: absolute;
  bottom: 27%;
  left: 50px;
  color: white;
  font-family: "DM sans";
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #333;
  padding: 3px 8px;
  animation: major-show 1.5s linear;
}
@keyframes major-show {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
}
#welcome .avatar .overlay {
  content: "";
  position: absolute;
  width: 52%;
  height: var(--avt-size);
  opacity: 0.8;
  border-top-left-radius: 100rem;
  border-bottom-left-radius: 100rem;
  top: 0;
  right: 48%;
  background-color: #575a49;
  animation: overlay-show 1s linear;
}
@keyframes overlay-show {
  from {
    opacity: 0.8;
    transform: translateX(10%);
  }
}

.products {
  display: none;
  padding: 20px;
}
.products .product {
  margin-bottom: 16px;
  display: block;
  user-select: none;
  padding-top: 100%;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background-image: url(../img/PeaSocialProfile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s;
  box-shadow: #ccc 2px 2px 4px;
}
@keyframes product-show {
  to {
    transform: scale(1.05);
  }
}
.products .product .description {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  transition: all 0.3s;
  font-family: "DM sans";
  text-align: center;
  opacity: 0.2;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}
@keyframes description-show {
  40% {
    opacity: 1;
    backdrop-filter: blur(2px);
  }
  to {
    opacity: 0.2;
    backdrop-filter: blur(0);
  }
}
.products .product:hover {
  transform: scale(1.05);
}
.products .product:hover .description {
  opacity: 1;
  backdrop-filter: blur(2px);
}

.notification .toasts {
  position: fixed;
  bottom: 16px;
  left: 16px;
  z-index: 2;
}
.notification .toasts .toast {
  display: flex;
  align-items: center;
  padding: 10px 0;
  min-width: 360px;
  max-width: 450px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  transition: all linear 0.3s;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  border: 2px solid;
  border-left: initial;
  position: relative;
}
.notification .toasts .toast::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  height: 80%;
  border-left: 4px solid;
  border-radius: 20px;
}
.notification .toasts .toast + .toast {
  margin-top: 24px;
}
.notification .toasts .toast__icon {
  padding: 8px;
  margin-left: 16px;
  font-size: 24px;
}
.notification .toasts .toast__body {
  flex-grow: 1;
  padding: 8px;
}
.notification .toasts .toast__title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.notification .toasts .toast__msg {
  font-size: 15px;
  color: #333;
  margin-top: 6px;
  line-height: 1.5;
}
.notification .toasts .toast__close {
  font-size: 20px;
  cursor: pointer;
  padding: 8px;
  margin-right: 8px;
  color: #888;
}
.notification .toasts .toast__close:hover {
  opacity: 0.5;
}
.notification .toasts .toast--success {
  color: #47d764;
}
.notification .toasts .toast--warning {
  color: #ffc021;
}
.notification .toasts .toast--danger {
  color: #ff623d;
}

body {
  /* width */
  --thumb: rgba(0, 0, 0, 0.2);
  --thumb-size: 2px;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
body::-webkit-scrollbar {
  width: var(--thumb-size, 4px);
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: var(--thumb);
  border-radius: 4px;
}
body::-webkit-scrollbar-thumb:hover {
  background: var(--thumb-hover);
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(calc(-100% - 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
